{% extends "myapp/index.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container justify-content-center mt-4">
    <div class="card my_class" style="max-width: 500px; margin: auto;">
        <div class="card-header" >
            <h1>home html</h1>
        </div>
        <div class="card-body">
            <ol>
            
            {% if nome %}
                <p>Nome usuário: {{ nome }}</p>
            {% else %}
                <p>Nome não informado</p>
            {% endif %}

            
        </div>
    </div>
</div>
{% endblock content %}