<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'cadastrar' %}" method="post">
        {% csrf_token %}

        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">
        <label for="username">Usuário:</label>
        <input type="text" name="username" id="username">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password">
        <button type="submit">Cadastrar</button>
    </form>

    
</body>
</html>