{% extends "app_produtos/index.html" %}

{% block title %}
Pizzaria tec
{% endblock title %}

{% block content %}
<h1>Home</h1>
{% if produtos %}


<div class="container mt-5">

<div class="container mt-5">
    <div class="row">
        {% for itens in produtos %}
            <div class="col-12 col-md-4 mb-4">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="{{ itens.img }}" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">{{ itens.nome_produto }}</h4>
                      <p class="card-text">{{ itens.preco }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
    
{% endblock content %}

