{% extends "app_produtos/index.html" %}

{% block title %}
Pizzaria tec
{% endblock title %}

{% block content %}
<h1>Vizualizar</h1>
{% if vendas %}


    <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome Produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                {% for item in vendas %}
                <tr>
                    <td>{{ item.compra_id }}</td>
                    <td>{{ item.produto_id.nome_produto }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>{{ item.produto_id.preco }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
    
{% endblock content %}

